@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

.font-lato{
  font-family: "Lato", sans-serif;
}
.font-playfair{
  font-family: "Playfair Display SC", serif;
}
.swiper-button-prev, .swiper-button-next{
  color: #ffffff !important;
}
.swiper-pagination-bullet-active{
  background-color: #ffffff !important;
}